html,
body {
  background-color: #F5F5F5;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.spinner {
  display: none !important;
}

* {
  box-sizing: border-box;
}
 
.skeleton_box {
  background-image: linear-gradient(
    90deg,
    #e7edf1 0,
    #f1f6fa 200px,
    #e7edf1 400px
  );
  background-size: 1200px;
  animation: shimmer 1.3s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -400px;
  }
  100%,50% {
    background-position: 700px;
  }
}